<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="../css/convertor.css" th:href="@{/css/convertor.css}">
        <link type="text/css" rel="stylesheet" href="../css/field.css" th:href="@{/css/field.css}">
        <link type="text/css" rel="stylesheet" href="../css/button.css" th:href="@{/css/button.css}">
        <link type="text/css" rel="stylesheet" href="../css/footer.css" th:href="@{/css/footer.css}">
        <link type="text/css" rel="stylesheet" href="../css/header.css" th:href="@{/css/header.css}">
        <link type="text/css" rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}">
        <link rel="shortcut icon" href="icon/Ch.ico" type="image/x-icon">
        <title>Convertor</title>
    </head>

    <body class="grid-box">

        <div class="headers" th:insert="~{Header.html :: header}"></div>

        <div class="left"></div>

            <div class="middle">
                <form class="form-grid-container" action="#" th:action="@{/Convertor}" th:object="${valCursView}" method="post" >
                    <div class="box1">

                        <input class="field-search" type="date" th:field="*{timeSearch}"/>

                        <input list="abbreviations-left" id="abb-left" name="Valute1" class="box1" type="text" th:field="*{nameValuteOne}"/>
                        <datalist id="abbreviations-left" >
                            <option text="Rubles" value="Rubles"></option>
                            <option th:each="h:${valCursList}" th:value="${h.currency_name}" th:text="${h.currency_name}"></option>
                        </datalist>

                        <input class="input-box1" type="text" th:field="*{valueValuteOne}"/>

                        <button class="btn-ent" type="submit">Convert</button>

                    </div>

                    <div class="box2">

                        <input list="abbreviations-box2" id="abb-middle" name="Valute2" class="datalist-box2" type="text" th:field="*{nameValuteTwo}"/>
                        <datalist id="abbreviations-box2">
                            <option text="Rubles" value="Rubles"></option>
                            <option th:each="h:${valCursList}" th:value="${h.currency_name}" th:text="${h.currency_name}"></option>
                        </datalist>

                        <input class="input-box2" type="text" th:field="*{valueValuteTwo}"/>

                    </div>
                </form>

            </div>

        <div class="right"> </div>

        <div class="footer" th:insert="~{Footer.html :: footer}"></div>
    </body>
</html>