<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header class="container" th:fragment="header">
            <button type="button" class="simply" id="1">Con</button>
            <button type="button" class="simply" id="2">Reg</button>
            <button type="button" class="simply" id="3">About</button>
            <button type="button" class="simply" id="4">Logout</button>
        </header>
    </body>
</html>