<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="../css/login.css" th:href="@{/css/login.css}">
        <link type="text/css" rel="stylesheet" href="../css/field.css" th:href="@{/css/field.css}">
        <link type="text/css" rel="stylesheet" href="../css/button.css" th:href="@{/css/button.css}">
        <link type="text/css" rel="stylesheet" href="../css/footer.css" th:href="@{/css/footer.css}">
        <link type="text/css" rel="stylesheet" href="../css/header.css" th:href="@{/css/header.css}">
        <link type="text/css" rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}">
        <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="shortcut icon" href="icon/Ch.ico" type="image/x-icon">
        <title>Login</title>
    </head>

    <body class="grid-box">

            <div class="headers" th:insert="~{header.html :: header}"></div>

            <div class="left"></div>

            <div class="middle">
                <form th:action="@{/login}" method="post">
                    <h2>Please sign in</h2>
                    <div class="lev25-log">
                        <label for="username">Login</label>
                        <input class="field-log" type="text" id="username" name="username" placeholder="Your login..">
                    </div>
                    <div class="lev25-log">
                        <label for="password">Password</label>
                        <input class="field-log" type="password" id="password" name="password" placeholder="Your password..">
                    </div>
                    <button class="btn-positive" type="submit" >Login</button>
                    <input class="btn-positive" type="button" id="Registration" value="Registration" onClick='location.href="http://localhost:8080/converter/registration"'>
                </form>
            </div>

            <div class="right"></div>

            <div class="footer" th:insert="~{footer.html :: footer}"></div>
    </body>
</html>